th {
  padding: 16px 8px !important;
}

td {
  padding: 8px !important;
}

.form-label, .progress {
  margin-bottom: 5px;
}

.selector_label {
  margin-right: 5px;
  width: 70.761px; /* minimal width which 'Event day' label requires  */
}

.selector {
  width: 97.273px; /* minimal width which 'Event day' selector requires */
}

#season_overview_table {
  max-height: 500px;
  overflow: auto;
}
