th {
  padding: 16px 8px !important;
}

td {
  padding: 8px !important;
}

.form-label, .progress {
  margin-bottom: 5px;
}

.selector_label {
  margin-right: 5px;
  width: 70.761px; /* minimal width which 'Event day' label requires  */
}

.selector {
  width: 90px;
}

#season_overview_table {
  max-height: calc(100vh - 98.398px - 34.193px - 54px - 15px - 94px - 15px);
  overflow: auto;
}
